MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=minio123456
MINIO_ENDPOINT=http://minio:9000
MINIO_WAREHOUSE=s3a://lakehouse/warehouse
MONGO_URI=mongodb://mongo:27017
POSTGRES_USER=metabase
POSTGRES_PASSWORD=metabase
POSTGRES_DB=metabase
